/* Set fullscreen */

html.sap-desktop .sapMShellAppWidthLimited .sapMShellCentralBox {
    width: 100%;
    margin-left: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.3);
}


/* Remove Scrolling on main app */

#content {
    overflow: hidden;
}


/* LoginBox CSS*/

.shellCustom {
    width: 350px;
    margin: 5px;
    padding: 1em;
    border-radius: 0.2em;
    text-align: center;
    background: #8e9eab;
    background: -webkit-linear-gradient(to bottom, #eef2f3, #8e9eab);
    background: linear-gradient(to bottom, #eef2f3, #8e9eab);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


/* LoginBox-BG CSS*/

.shellCustom-BG {
    display: flex;
    /* establish flex container */
    flex-direction: column;
    /* stack flex items vertically */
    justify-content: center;
    /* center items vertically, in this case */
    align-items: center;
    /* center items horizontally, in this case */
    height: 100%;
    border: 1px solid black;
    background: #41295a;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #2F0743, #41295a);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #2F0743, #41295a);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


/* LoginBox Button CSS*/

.buttonLoginBox {
    padding-right: 1em;
    border-radius: 0.4em;
}


/* LoginBox Header */

.loginHeader {
    color: black;
    font-size: 1.5em;
}


/* LoginBox Footer */

.footerLoginBox {
    color: #000046;
    padding-top: 15px;
}

.labelFont {
    font-size: 10px !important;
}


/******************* css for header****************/

.headerBG {
    background-color: rgba(149, 230, 22, 1)!important;
    border-color: #9ad937!important;
}

.headerBG * {
    color: #333!important;
    text-shadow: none;
}

.logoImage {
    margin-top: 6px !important;
}

.headerBG .sapMBarChild.sapMText.sapMTextMaxWidth.sapUiSelectable {
    margin-left: 10px;
    font-family: "Calibri Light", Calibri;
    font-size: 20px!important;
    font-weight: 300;
}

.firstNav {
    background-color: #f2f2f2!important;
    border-right: 1px solid #f2f2f2!important
}

.navItemsCls li {
    background-color: #e4e4e4!important;
    height: 60px;
    border-bottom: 1px solid #e4e4e4!important;
}

.navItemsCls li:hover,
.navItemsCls li.sapTntNavLIItemSelected {
    border-bottom: 1px solid #363636!important;
}

.navItemsCls li>div {
    background-color: #0070AD!important;
    height: 59px!important;
    border-bottom: 0px solid #f2f2f2!important;
}

.navItemsCls li>div:hover,
.navItemsCls li.sapTntNavLIItemSelected>div {
    background-color: #e4e4e4!important;
}

.navItemsCls li>div:hover span,
.navItemsCls li.sapTntNavLIItemSelected>div span {
    color: #427CAC!important
}

.detailBg {
    background-color: #e4e4e4!important;
}

.detailHeader1 {
    font-family: "Calibri Light", "Calibri Regular", Calibri!important;
    font-size: 28px!important;
    font-weight: 300!important;
}

.dtlHead {
    display: block!important;
    border-bottom: 0px solid #cccccc!important;
}

.rightAlignText {
    text-align: right!important;
    position: relative!important;
    right: 5px!important;
    display: block!important;
    top: -15px!important;
}

.bgwhite .sapMPanelBGTranslucent.sapMPanelContent {
    background-color: #fff!important;
}

.bgWhite2 .sapUiFormContainerTitle.sapUiRGLContainer {
    padding: 10px!important;
    background-color: #fff!important;
}

.dtlHead .sapMPanelBGTranslucent.sapMPanelContent {
    border: 0px solid #fff!important;
}

.noBorder div.sapMPanelBGTranslucent.sapMPanelContent {
    border: 0px solid #fff!important;
    padding: 0px!important;
    margin: 0px!important;
}

.noBorder div.sapUiFormContainerTitle.sapUiRGLContainer {
    padding: 15px!important;
    background-color: #fff;
}

.noBorder .sapUiFormResGrid.sapUiFormBackgrTranslucent>div {
    padding: 0px;
}

.checkboxBg {
    padding: 10px!important;
    padding-left: 20px!important;
    background-color: #fff;
}

.checkboxBg .sapMLabel.sapMLabelMaxWidth.sapUiSelectable {
    line-height: 33px;
}

.paddingRmv>div {
    padding: 0px;
    margin: -10px;
}

.bgwhite1 div.sapUiSimpleForm {
    background-color: #fff!important;
    margin-bottom: 25px!important;
}

.bgPanel .sapMPanelBGTranslucent.sapMPanelContent,
.bgPanel .sapUiFormResGridMain.sapUiRespGrid {
    padding: 0px!important;
    border-bottom: 0px solid #fff!important;
}

.bgPanel .sapUiFormContainerTitle.sapUiRGLContainer {
    padding: 10px!important;
    background-color: #fff!important;
    margin: 10px 0px!important;
}

.RemoveGap .sapMTitle.sapMTitleMaxWidth {
    line-height: 32px!important;
    margin-right: 10px!important;
}

.bgWhiteImd > div {
    background-color: #ffffff!important;
}

.bgWhiteImd > div.scopeCheckbx {
    margin: 0px!important;
    margin-top: 20px!important;
    background: transparent!important;
}

.bgWhiteImd > div.scopeCheckbx > div {
    background: #fff!important;
    padding: 10px !important;
}

.bgWhiteImd .sapMFlexBoxBGTransparent.sapMFlexItem.sapMFlexItemAlignAuto {
    margin-top: 10px;
}

.backBtn,
.nextBtn {
    background: #c9c9c9!important;
    width: 100px!important;
    height: 40px Important;
    margin1: 10px 25px!important;
}

.backBtn span,
.nextBtn span {
    color: #000000!important;
    border: 0px solid #fff!important;
    text-shadow: 0px!important;
    background: #c9c9c9!important;
}

.backBtn span bdi {
    text-shadow: 0 0 0rem #ffffff!important;
}

.boxMdl>div {
    display: -webkit-box !important;
    width: 100%;
}

.nextBtn {
    background-color: #00CBF8!important;
}

.nextBtn span {
    Color: #ffffff!important;
    background: #00CBF8!important;
}

.bgWhiteBox {
    background: #fff!important;
    padding: 10px!important;
}

.divide3,
.divide4 {
    display: table!important;
}

.divide3>div {
    display: table-cell!important;
    background-color: #ada454!important;
    border: 10px solid #fff!important;
    height: 160px!important;
}

.divide4>div {
    display: table-cell!important;
}

.divide4>div * {
    margin: 0px !important;
}

.divide4>div span {
    font-size: 14px!important;
}

.divide4 .subSection span {
    font-weight: bold!important;
}

.divide3 .div2 {
    background-color: #6b9a89!important;
}

.divide3 .div3 {
    background-color: #431060!important;
}

.divide3>div> * {
    text-align: center!important;
    color: #FFF!important;
}

.divide3>div span {
    color: #fff;
    text-shadow: 0 0 0 #fff;
}

.divide3>div .monthsCnt span:after {
    content: "months";
    color: #fff;
    font-size: 16px;
    font-weight: normal;
    position: relative;
    vertical-align: baseline;
    line-height: 0;
    margin: 3px;
}

.divide3>div .monthsCnt {
    margin-bottom: 40px!important;
    margin-top: 0px!important;
}

.divide3>div .monthsCnt span {
    font-size: 45px;
    font-weight: bold;
}

.removeBorder .sapMPanelBGTranslucent.sapMPanelContent {
    border: 0px solid #fff!important;
}

.givemargin {
    margin: 20px 30px!important;
}

.custFooter {
    background-color: #939393!important;
    border-top: 1px solid #c3c7ca!important;
}

.estHeight {
    height: 700px!important;
}

#__title2::before, 
#__title3::before{
    content: "*" !important;
    color: #c14646!important;
    font-size: 1.25rem!important;
    font-weight: bold!important;
    position: relative!important;
    vertical-align: middle!important;
    line-height: 0!important;
}

.cssReq::before {
    content: "*" !important;
    color: #c14646!important;
    font-size: 1.25rem!important;
    font-weight: bold!important;
    position: relative!important;
    vertical-align: middle!important;
    line-height: 0!important;
}